@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Italic.eot');
    src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'),
    url('PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
    url('PlayfairDisplay-Italic.woff2') format('woff2'),
    url('PlayfairDisplay-Italic.woff') format('woff'),
    url('PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Inter Tight';
    src: url('InterTight-Regular.eot');
    src: local('Inter Tight Regular'), local('InterTight-Regular'),
    url('InterTight-Regular.eot?#iefix') format('embedded-opentype'),
    url('InterTight-Regular.woff2') format('woff2'),
    url('InterTight-Regular.woff') format('woff'),
    url('InterTight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'),
    url('Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('Raleway-Regular.woff2') format('woff2'),
    url('Raleway-Regular.woff') format('woff'),
    url('Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-ExtraBold.eot');
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
    url('Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Raleway-ExtraBold.woff2') format('woff2'),
    url('Raleway-ExtraBold.woff') format('woff'),
    url('Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Light.eot');
    src: local('Raleway Light'), local('Raleway-Light'),
    url('Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('Raleway-Light.woff2') format('woff2'),
    url('Raleway-Light.woff') format('woff'),
    url('Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Italic.eot');
    src: local('Raleway Italic'), local('Raleway-Italic'),
    url('Raleway-Italic.eot?#iefix') format('embedded-opentype'),
    url('Raleway-Italic.woff2') format('woff2'),
    url('Raleway-Italic.woff') format('woff'),
    url('Raleway-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Medium.eot');
    src: local('Raleway Medium'), local('Raleway-Medium'),
    url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('Raleway-Medium.woff2') format('woff2'),
    url('Raleway-Medium.woff') format('woff'),
    url('Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('Raleway-SemiBold.eot');
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
    url('Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('Raleway-SemiBold.woff2') format('woff2'),
    url('Raleway-SemiBold.woff') format('woff'),
    url('Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
    url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('Raleway-Bold.woff2') format('woff2'),
    url('Raleway-Bold.woff') format('woff'),
    url('Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

